{% extends "base.html" %}
{% block page_content %}

    <div class="page-header">
        {% if entry|length == 0 %}
            <h1>No Entry for {{ timestamp }}</h1>
        {% else %}
            <h1>{{ timestamp }}</h1>
        {% endif %}
    </div>

    <div>
        <p>{{entry['entry']}}</br>
        Tags:
            {% for tag in entry['tags'] %}
                <a href="{{ url_for('main.view_entries_for_tag', tag=tag, _external=True) }}">{{ tag }}</a>
            {% endfor %}
        </p>
    </div>
    <div>
        {{ wtf.quick_form(form) }}
    </div>

{% endblock %}