{% extends "base.html" %}
{% block page_content %}

    <div class="page-header">
        <h1>Entries</h1>
    </div>

    <div>
    {% if all_entries|length == 0 %}
        <p>Nothing in your chronofile yet.</p>
    {% else %}
        <ol>
        {% for entry in all_entries %}
            <li><p><a href="{{ url_for('main.view_entries_for_day', day=entry['timestamp'][:10], _external=True) }}">{{ entry['timestamp'][:10] }}</a> <a href="{{ url_for('main.view_single_entry', timestamp=entry['timestamp'], _external=True) }}">{{ entry['timestamp'][11:] }}</a>: {{entry['entry']}}</br>
            Tags:
                {% for tag in entry['tags'] %}
                    <a href="{{ url_for('main.view_entries_for_tag', tag=tag, _external=True) }}">{{ tag }}</a>
                {% endfor %}</p></li>
        {% endfor %}
        </ol>
    {% endif %}
    </div>
    <div>
        {{ wtf.quick_form(form) }}
    </div>

{% endblock %}