{% extends "base.html" %}
{% block page_content %}

    <div class="page-header">
        <h1>Admin</h1>
    </div>

    <div>
        <p>Chronofile name:</p>
        <p>{{ details['chronofile_name'] }} <a class="btn btn-default" href="{{ url_for('admin.rename_chronofile') }}">Edit</a></p>
    </div>
    </br>
    <div>
        <p>Author name:</p>
        <p>{{ details['author_name'] }} <a class="btn btn-default" href="{{ url_for('admin.rename_author') }}">Edit</a></p>
    </div>
    </br>
    <div>
        <p>Change email address:</p>
        <p><a class="btn btn-default" href="{{ url_for('auth.change_email') }}">Click here</a></p>
    </div>
    </br>
    <div>
        <p>Change password:</p>
        <p><a class="btn btn-default" href="{{ url_for('auth.change_password') }}">Click here</a></p>
    </div>

{% endblock %}